name: CI
on:
  push:
    branches:
      - main
      - 'v*.[0-9]'
  pull_request:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          coveralls.io:443
          github.com:443
          registry.yarnpkg.com:443
          objects.githubusercontent.com:443

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install modules
      run: yarn
    - name: Run linter
      run: yarn lint
    - name: Run tests
      run: yarn test --coverage
    - name: Coveralls
      uses: coverallsapp/github-action@ba6dae83310bbd6d33ff77092650dc40bd444a2a
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
